<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<!-- Custom styles for this template -->
<link href="/static/css/main.css" rel="stylesheet">
{% extends "base.html" %}
{% block content %}
      <div class="starter-template">
        <h1>Verba - learn easily!</h1>
        <p class="lead">Verba - means "words" in Latin.<br>Verba can help you to learn unknown and foreign words.<br> Just put your text in box below and check it!</p>
      </div>
      <form role="form" action="/process" method="POST">
        {% csrf_token %}
        <h3 class="form-signin-heading">Please enter your text</h3>
        <textarea name="text" cols="182" rows="10"></textarea>
        <br>
        <button class="btn btn-primary" type="submit">Check</button>
        <div class="btn-group" data-toggle="buttons">
          <label id="extraBtn" class="btn btn-link">
            <input  type="radio">Extra
          </label>
          <label id="extraHide" class="btn btn-link">
            <input  type="radio">Hide
          </label>
          <label class="btn btn-link extraFeature">
            <input type="checkbox" class="tooltip-cloud" name="threeDigits" value="checked" data-toggle="tooltip" data-placement="top" title="Tooltip on top">3 digits
          </label>
          <label class="btn btn-link extraFeature">
            <input type="checkbox" name="onlyRoot" value="checked">Roots
          </label>
        </div>
      </form>
{% endblock %}


