{% extends "base.html" %}
{% block content %}
      <div class="starter-template">
        <h1>Verba - learn easily!</h1>
        <p class="lead">Verba - means "words" in Latin.<br> Verba can help you to learn unknown and foreign words.<br> Just put your text in box below and check it!</p>
      </div>
      <form class="form-signin" role="form" action="/process" method="POST">
        {% csrf_token %}
        <h2 class="form-signin-heading">Please enter your text</h2>
        <textarea name="text" cols="182" rows="10"></textarea>
        <button class="btn btn-primary btn-lg" type="submit">Check</button>
      </form>
{% endblock %}


