body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.table {
    width: 45%;
}
.users-word-table {
    display: none;
}
.my-dict-hide {
    display: none;
}

.num-of-words {
    color: firebrick;
    font-size: 23px;
}

#modal-content-sign-in {
    width: 300px;
    margin: auto;
}

.invalidInput {
    display: none;
    color: firebrick;
}
.invalidUserName {
    display: none;
    color: firebrick;
}
.invalidPassword {
    display: none;
    color: firebrick;
}

.extraFeature {
    display: none;
}
#extraHide{
    display: none;
}

#userOnSite {
    color: lightskyblue}
.navbar-brand {
    font-family: 'Lobster', cursive;
    font-size: 22px;
}
.navbar-inverse .navbar-brand {
color: #6EC;
}

