{% extends "base.html" %}
{% block content %}
  <div class="container">
      <div class="page-header">
        <h2>All what you want to know about Verba</h2>
      </div>
      <p class="lead">This site is a try to make your education process easy.
        <br> Make your personal dictionary and use it to check your texts.</p>
      <br>
      <br>
      <p class="lead">If you have any suggestions about site work or just
        want to leave me feedback please contact via email <a
                href="mailto:fomin.dritmy@gmail.com"
                target="_top">fomin.dritmy@gmail.com</a>
      </p>
      <p class="lead">All information about site <code>code</code> your can
        find on <a href="https://github.com/Warager/Verba">GitHub</a></p>
    </div>
{% endblock %}