{% extends "base.html" %}
{% block content %}
  <div class="container">
    <div class="page-header">
      <h2>All what you want to know about Verba</h2>
    </div>
    <p class="lead">At Verba, we believe, that this site can make learning
      of words easy.</p>
    <p class="lead">Verba was created for every people, who wants to achieve
      and grow using new instruments and ways.</p>
    <p class="lead">We believe, that Verba will help not only people,
      who want to learn foreign language. Native speakers also can find<br> it
      useful to expand their vocabulary.</p>
    <p class="lead">This site is only beginning of great work ahead. We want
      to grow together with you. That's why we will appreciate<br> every
      comment about our work and every suggestion, how to make our Verba
      better.</p>
    <br>
    <p class="lead">Our aim is to become one of the leading resource for
      learning worldwide by staying focused on the goals and
      principles<br> set forth when forming Verba:</p>
    <ul class="lead">
      Our goals:
      <li>Expand access to education for everyone</li>
      <li>Enhance learning online</li>
      <li>Advance learning through new technologies</li>
    </ul>
    <ul class="lead">
      Our principles:
      <li>Nonprofit</li>
      <li>Open source platform</li>
      <li>Collaborative</li>
    </ul>
    <p class="lead">Verba is based in Kazan, Russian Federation</p>
    <p class="lead">Want to learn more? <a href="/contact">Contact us</a></p>
  </div>
{% endblock %}