<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<!-- Custom styles for this template -->
<link href="/static/css/main.css" rel="stylesheet">
<body>
    <div class="jumbotron">
        <h3>Welcome new customer!</h3>
        <br>
        <p>Thank you for registration on our site! We hope it will help you to improve your knowledges and will made your learning easy!</p>
        <br>
        <p>This is beta version. so we will appreciate if you will report us about bugs and troubles.</p>
        <br>
        <br>
        <br>
        <p>Your Verba team.</p>
    </div>
</body>